---
import Layout from '@/layouts/Layout.astro';
import { getCollection } from 'astro:content';
import { getPackageTitle } from '@/utils/package';
import BlogList from '@/components/blog/BlogList.astro';

const allPosts = await getCollection('posts');
---

<Layout title={getPackageTitle()}>
  <div class="flex flex-col items-center gap-10">
    <p class="font-mono text-3xl">Blog List</p>
    {allPosts.slice(0, 5).map((post) => <BlogList title={post.data.title} url={`/posts/${post.slug}/`} />)}
  </div>
</Layout>
