---
import Layout from '@/layouts/Layout.astro';
import { getTitle } from '@/utils/package';
---

<Layout title={getTitle()}>
  <main>
    <div class="hero bg-white">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">Hello there</h1>
          <p class="py-6">
            Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In
            deleniti eaque aut repudiandae et a id nisi.
          </p>
          <button class="btn btn-primary">Get Started</button>
        </div>
      </div>
    </div>
  </main>
</Layout>
