---
import Layout from '@/layouts/Layout.astro';

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <div class="prose mx-auto">
    <h1>{frontmatter.title}</h1>
    <h2>Post author: {frontmatter.author}</h2>
    <slot />
  </div>
</Layout>
